[Desktop Entry]
Type=Application
Name=Inkscape
Exec=/home/torsten/.nix-profile/bin/inkscape %F
GenericName=Vector Graphics Editor
Icon=/home/torsten/.nix-profile/share/icons/hicolor/scalable/apps/inkscape.svg
Comment=Create and edit Scalable Vector Graphics images
Categories=Graphics;VectorGraphics;2DGraphics;
Terminal=false
MimeType=image/svg+xml;application/pdf;application/illustrator;image/vnd.adobe.photoshop;image/x-ms-bmp;image/jpeg;image/png;image/tiff;
StartupNotify=true
Keywords=Vector;Graphics;SVG;Design;Illustration;
