[Desktop Entry]
Type=Application
Name=Krita
export QT_XCB_GL_INTEGRATION=none
Exec=/home/torsten/.nix-profile/bin/krita %F
Comment=Digital Painting, Creative Freedom
Icon=/home/torsten/.nix-profile/share/icons/hicolor/scalable/apps/krita.svg
Categories=Graphics;2DGraphics;RasterGraphics;
Terminal=false
MimeType=application/x-krita;image/png;image/jpeg;image/jpg;image/bmp;image/tiff;image/x-xcf;
StartupNotify=true
Terminal=false
